<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmap pedro</title>
    <link href="static/css/heat_map_google.css" rel="stylesheet">
    
    <script type="text/javascript" src="static/js/heat_map_google.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=visualization&callback=initMap">
    </script>
  </head>

  <body>
    
    <div id="map"></div>
    <div id="floating-panel">
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>

    <script charset="utf-8">
      var coords = {{ coords|safe }};
      var center_map = {{ center_map|safe }};
    </script>

  </body>
</html>